[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/enkiTS"]
	path = ext/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "ext/mdlib"]
	path = ext/mdlib
	url = https://github.com/scanberg/mdlib
[submodule "ext/SDL"]
	path = ext/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = main
