# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Settings file
*.ini
CMakeSettings.json

# Misc
.DS_Store

# Folders
build*/
xcode/
.vscode/
.vs/
gen/
ext/imgui/backends/
ext/imgui/docs/
ext/imgui/examples/
ext/imgui/misc/
ext/imgui/.*
