[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm
